  <html>
    <head>
        <title>Menu</title>
        <style>
            body{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: white;
                background:linear-gradient(
                    rgba(0,0,0,0.95),rgba(0,0,0,0.65),rgba(0,0,0,0.38),rgba(0,0,0,0)
                )
                 ,url(img19.jpg)no-repeat;
                  background-size: cover;
                  background-attachment: fixed;
            }
            .box{ width: 589px;
            float:right;
            border:-1px solid black;}

            .box ul li{
            width: 100px;
            float:left;
            margin: 10px auto;
            text-align: center;
        }

        .box ul li a{ text-decoration: none;
        color:white;}

        .box ul li:hover{ background-color: green;}
        .box ul li a:hover{ color: white;}

        .wd{
            width:120px;
            height:120px;
            background-color: transparent;
            opacity:-1px;
            padding:85px;
        }

        </style>
           
           <body>
            <div class="box">
                <ul type="none">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="">Contact</a></li>
               
                </ul>
            </div>

               <div class="wd">
        
                <img src="img8.jpg" width="200px" height="200px">
                
                <p>BURGER</p>
                <P>FFFGDUGDUUYG</P>
                <P>MRP:150</P>
               </div>
                
        </body>
    </head>
</html>