
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 75%;
  bottom: 200px;
}
*{
	box-sizing: border-box;
}

.column{
	float: left;
	width: 33px;
	padding: 5px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 300px;
}
.row::after{
	content: "";
	display: table;
	clear: both;
}


.caption {
    display: block;
    color: black;
	

}







